@page "/students"
@inject HttpClient httpClient

<h1>Students</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>School</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in students)
            {
                <tr>
                    <td>@item.StudentId</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.School</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (students != null)
{
    <input placeholder="First Name" bind=" @FirstName" /><br />
    <input placeholder="Last Name Name" bind=" @FirstName" /><br />
    <input placeholder="School Name" bind=" @FirstName" /><br />
    <button onclick="@insert"class="btn btn-warning" >Insert</button>
};

@functions {
    Student[] students;
    string baseUrl = "https://localhost:44323/";
    string StudentId;
    string FirstName;
    string LastName;
    string School;

    protected override async Task OnInitAsync()
    {
        await load();
    }

    protected async Task load()
    {
        students = await httpClient.GetJsonAsync<Student[]>($"{baseUrl}api/students");
    }

    protected async Task insert()
    {
        string endpoint = $"{baseUrl}apl/students";

        Student student = new Student()
        {
            StudentId = Guid.NewGuid().ToString(),
            FirstName = firstName,
            LastName = lastName,
            School = school
        };

        await httpClient.SendJsonAsync(HttpMethod.Post, endpoint, student);
        ClearFields();
        await load();
    }

    protected void ClearFields()
    {
        studentId = string.Empty;
        firstName = string.Empty;
        lastName = string.Empty;
        school = string.Empty;
    }
}